@charset "utf-8";
body {font-size:12px;font-family:"宋体";color:#666; background-color:#EAEAEA;}
*{margin:0;padding:0;}
a {color:#666;text-decoration:none;}
a:hover {color:#FA6F22;}
.r a{color:#f00;text-decoration:none;}
.r a:hover{color:#FA6F22;}
ul {list-style:none;} 
li {list-style-type:none;}
img{ border:0}
#CreateCheckCode{
	width:90px;
	height:20px;
	position:relative;
	left:5px;
}
.main_news{
width:980px; margin:15px auto 0px;
}
.news_01{
width:237px; float:left; background-color:#fff; margin-right:10px; overflow:hidden;
}
.news_title{
width:237px; height:36px; background:url(net2_03.jpg) no-repeat;
}
.news_01 ul{
border-left:1px solid #ccc; border-right:1px solid #ccc; width:235px; padding-top:8px;
}
.news_01 li{

}
.news_title h2{
float:left; font-size:14px; line-height:34px; text-indent:30px; padding-top:2px; height:34px;
}
.news_title b{
float:right; line-height:34px; font-weight:normal; margin-right:5px; padding-top:2px; height:34px;
}
.news_bot{
background:url(netbt.jpg) no-repeat; width:237px; height:5px; overflow:hidden;
}
#news_011{
margin:0px; margin-left:2px;
}
#title{
    display: inline-block;
    color: #1d88cf;
    font-size: 50px;
    font-family: 隶书;

}