@CHARSET "UTF-8";
#user,#register{
    padding: 15px;
    color: #6e6e6e;
    font-size: 13px;
     display: inline-block;

}#menu{
    float: right;
  
}
#login #user a,#login #register a,#menu ul li a{
    text-decoration: none;
    color: #6e6e6e;
}
#login li{
	  display: inline-block;
}
#login{
    background-color: #f6f6f6;
    border:1px grey solid;
    width:1000px;
    margin:0px;
}
#menu ul li{
    float: left;
    padding: 15px;
    color: #6e6e6e;
    font-size: 13px;
    border-right: 1px solid #6e6e6e;
}
#menu ul{
	margin:0px;
}